<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>


  <!-- 网站的配置文件中增加下列行,以便 Entity Framework 知道如何连接到我们的数据库-->
  
  <connectionStrings>
    <!-- name:数据库连接串的名称很重要,以后使用 EF Code-First 的时候，通过它来找到数据库 -->
    <!-- MusicStoreEntities对应Models中的MusicStoreEntities类名 -->
    <add name="MusicStoreEntities"
    connectionString="server=.\sqlexpress;database=musicstore;integrated security=true;"
    providerName="System.Data.SqlClient"/>
  </connectionStrings>
    
  
  
  
  
  
  
  
  
  <system.web>
    <membership defaultProvider="MusicStoreMembershipProvider">
      <providers>
        <clear/>
        <add name="MusicStoreMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             connectionStringName="MusicStoreEntities"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             applicationName="/"
             requiresUniqueEmail="false"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
<!--    使用微软自带的用户管理配置参数,本段代码复制于本机C:\Windows\Microsoft.NET\Framework\v4.0.30319\Config-->
<!--    它会找我们用工具生成的一系列数据表-->
    
    <profile defaultProvider="MusicStoreProfileProvider">
      <providers>
        <clear/>
        <add name="MusicStoreProfileProvider"
             type="System.Web.Profile.SqlProfileProvider"
             connectionStringName="MusicStoreEntities"
             applicationName="/"
             />
      </providers>
    </profile>
    
    
    
    <roleManager enabled="true" defaultProvider="MusicStoreRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="MusicStoreEntities" applicationName="/"
          name="MusicStoreRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
<!--    微软写的角色管理-->
    
    
    
    
    
    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    
    <!--验证方式-->
    <authentication mode="Forms">
<!--      loginUrl设置了登录页面的Url-->
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
